.LandingPage{
    background: url('../../img/fondo-pantalla-colores.jpg');
    /*transition: background-image 1s ease-in-out;*/
    background-repeat: no-repeat;
    background-image: fixed;
    background-position: 27% 20%;
    background-size: cover;
    margin: 0;
    height: 100vh;

    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
  }
  .LandingPage h1{
    font-family: 'Montserrat';
    font-size: 60px;
    text-shadow: 5px 5px 15px #ffffff;
    
  }
 .middle{
    font-family: 'Montserrat';
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    font-family: 'Montserrat';
    font-size: 30px;
    padding: 15px;
    background-color: #c9ece57a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px #000;
    cursor: pointer;
    position: relative;
    display: block;
    color: #402901;
   
    text-decoration: none;
    margin: 30px 0;
    border: 2px solidr rgba(58, 13, 85, 1);
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: rgba(58, 13, 85, 1);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }