.contentFilter{
  border: 3px solid #666;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentFilter h1{  color: #161919;}
.contentFilter label{ color: #161919;}
.selectStyle{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 96%;
    margin-bottom: 20px;
  }
  .btnReset{
   background-color: #7DACBE;
   margin-left:15px;
    width: 120px;
    -webkit-box-shadow: 5px 5px 15px 1px #000000; 
    box-shadow: 5px 5px 15px 1px #000000;
    cursor:pointer; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    }
    .ContenedorDeFiltros{
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-gap: 20px;
      gap: 20px;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
