
.ContentAbout{
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ContentAbout p{
    
    font-size: 20px;
    /*padding: 20px;*/
    text-shadow: 2px 2px 15px #000000;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;


  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.5px;

}
.btnChangeLanguage{
    position: relative;
    /*background-color: #fff;*/
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);

    font-family: 'Montserrat';
    font-size: 30px;
    padding: 15px;
    background-color: #c9ece57a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px #000;
    cursor: pointer;
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
   
    text-decoration: none;
    margin: 30px 0;
    border: 2px solidr rgba(58, 13, 85, 1);
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
