.btnSearch{
margin-left:15px;
width: 120px;
-webkit-box-shadow: 5px 5px 15px 1px #000000; 
box-shadow: 5px 5px 15px 1px #000000;
cursor:pointer; 
background-color:#41B8A5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;


}
.btnSearch:hover {
    background-color: #009987;
  }

.contentSearchBar{
  
    /* otros estilos */
  transition: all 0.3s ease-in-out;
  
  border: 3px solid #666;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 93px;
}

.inputStyle{
    margin-top: 17px;
    height: 25px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 96%;
    margin-bottom: 20px;
  }
